<% @title="House Budget Analyst" %>
<h1>House Budget Analyst</h1>
<p>Welcome to the House Budget Analyst! Here, you can keep track of recorded expenses and generate projections for
your household's financial status, and share your statistics with other individuals.</p>
</body>
